<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Upload Files</strong> <small></small>
		</div>
	<div class="panel-body">
		<%= render 'dashboard/posts/post_form' %>
	</div>
</div>
